<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>python</li>
    <li>R</li>
    <li>SQL</li>
    <li>julia</li>
    <li>scala</li>
    
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>Scipy</li>
</ol>

<table align=left>
    <tr>
        <th>Data Science Tools<th>
    </tr>
    <tr>
        <td>Jupyter notebook</td>
    </tr>
    <tr>
        <td>Rstudio</td>
    </tr>
    <tr>
        <td>Watson studio</td>
    </tr>
    <tr>
        <td>apache spark</td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers
x=(3*4)+5
print(x)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

**Objectives:**
<ul>
    <li>popular languages for data science</li>
    <li>libraries used in data science</li>
    <li>data science tools</li>
    <li>Arithmetic operation</li>
    
    
</ul>

<h2>Author</h2>
Heet Bhatt