<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>"My Jupyter Notebook on IBM Watson Studio"</h1>

**Heet Bhatt**                                                                                                                                       
Data Scientist

*I am interested in data science because I want to contribute something for building the business of whichever company I work for. With the help of  data science I can increase the profit, selling of company. With machine learning models we can predict some future aspects of our company. So the major motivation behind this course is to enhance our company's business*

<h3>Below code is doing simple multiplication of two numbers</h3>

In [2]:
a=5
b=6
c=a*b
print(c)

30

<p>Bulleted list<p>
<ul>
    <li>item1</li>
    <li>item2</li>
    <li>item3</li>
    <li>item4</li>
</ul>
<hr>
<p>Numbered list<p>
<ol>
    <li>item1</li>
    <li>item2</li>
    <li>item3</li>
    <li>item4</li>
</ol>
<hr>
<p>hyperlink</p>
<a href="https://www.google.com/">Google</a>
<hr>
<p>table</p>
<table align='left'>
    <tr>
        <th>name</th>
        <th>number</th>
    </tr>
     <tr>
        <td>ramesh</td>
        <td>90</td>
    </tr>
     <tr>
        <td>param</td>
        <td>88</td>
    </tr>
</table>